# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Entornos virtuales
# =========================
venv/
venv_VAE/
.env/
.venv/

# =========================
# Jupyter / notebooks
# =========================
.ipynb_checkpoints/

# =========================
# Logs / debugging
# =========================
*.log

# =========================
# WandB
# =========================
wandb/

# =========================
# Datos (MUY IMPORTANTE)
# =========================
Datasets/
Datasets/CelebA/
Datasets/noise/

# =========================
# Outputs del modelo
# =========================
Weights/
checkpoints/
*.pt
*.pth
*.ckpt
# =========================
# Resultados / artefactos
# =========================
Images/
Latents/
Potentials/
grids_output/

# =========================
# Archivos grandes sueltos
# =========================

*.jpg
*.jpeg
*.txt
!requirements.txt
!assets/Imagen_VAE_SB-2_page-0001.jpg
# (opcional: si quieres subir imágenes de resultados, elimina esta sección)

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db